.Home {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  justify-content: center;
}

.Home__Cat {
  display: block;
  margin-left: auto;
  position: relative;
}

.Home__Card {
  background-color: #e9e0cf;
  padding: 24px 16px 8px;
  margin-top: -50px;
  list-style: none;
}

.Home__Card li {
  margin-bottom: 8px;
}

.Home__Card li a {
  display: block;
  padding: 16px;
  border: solid 2px #d9cfbe;
  color: #4f352b;
  transition: all ease .3s;
}

.Home__Card li a:hover {
  background: #d9cfbe;
  border: solid 2px #4f352b;
}

.Home__Card li span {
  font-family: "Alfa Slab One", serif;
  display: block;
  font-size: 21px;
}
