.PageTitle {
  color: #66e1db;
  font-size: 48px;
  letter-spacing: 0.04rem;
  margin-bottom: 21px;
}

.InBetweens__Card {
  background: rgb(19 14 18 / 83%);
  border: solid 2px rgb(248 237 222 / 22%);
  padding: 16px;
}
