.Section__Item {
  padding: 16px;
  border: solid 2px #d9cfbe;
  margin-bottom: 16px;
}

.Section__Title {
  font-family: "Alfa Slab One", serif;
  display: block;
  color: #4f352b;
  font-size: 32px;
}
