.PageTitle {
  color: #66e1db;
  font-size: 48px;
  letter-spacing: 0.04rem;
  margin-bottom: 21px;
}

.Scenario__Item {
  border-bottom: 2px dotted #b3b3b3;
}

.Scenario__Link {
  display: flex;
  justify-content: space-between;
  padding: 16px 8px;
  transition: all .4s ease;
}

.Scenario__Link:hover {
  background-color: #d9cfbe;
}

.Scenario__Subtitle {
  font-family: "Alfa Slab One", serif;
  display: block;
  color: #df651f;
}

.Scenario__Title {
  font-family: "Alfa Slab One", serif;
  display: block;
  color: #4f352b;
  font-size: 16px;
}