.PageTitle {
  color: #66e1db;
  font-size: 48px;
  letter-spacing: 0.04rem;
  margin-bottom: 21px;
}

.Vagrant__Item {
  padding: 16px;
  border: solid 2px #d9cfbe;
  margin-bottom: 16px;
  color: #4f352b;
}

.Vagrant__Image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}